extends layout

block content
  | <script src='/javascripts/swDst.js'>
  | window.onload = function() {
  | ts_init();
  | mp_init();
  | }
  | </script>
  div.header
    span.title Space Weather in
    span.yearVals-nav
      select
        year = ["2012", "2011", "2010", "2009", "2008", "2007", "2006", "2005", "2004", "2003", "2002", "2001", "2000", "1999", "1998", "1997", "1996", "1995", "1994", "1993", "1992", "1991", "1990", "1989", "1988", "1987", "1986", "1985"]
        each i in year
          option(value=i) #{i}
  | <br />
  div.content#content
    div.swDst
    div.plot1Desc Just like our atmospheric/terrestrial weather, space weather is the concept of changing environmental conditions in space. It also has quiet days and stormy days. </br> </br> Space weather conditions can be estimated using the Dst-index. Lower and more negative values of Dst-index indicate disturbed and storm like space weather. </br> </br> Stormy days in the leftside plot are indicated by transition to red colors. Please use chrome for the colors.
    div.plot2Desc Click and drag the small chart (on the left) to pan or zoom.
    div.dstValPrint Hover your mouse on the big plot to print data.
  | <br />

  footer
    span.author Bharat Kunduri (bharatr@vt.edu)

  div#loading
      image(src="/images/Timer2.gif")    