extends layout

block content
  | <script src='/javascripts/swDst.js'>
  | window.onload = function() {
  | ts_init();
  | mp_init();
  | }
  | </script>
  div.content#content
    div.title Space Weather Overview - Last Decade
    div.swDst
    