body {
  background: rgb(56,56,56);
  color: #888;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
  min-width: 980px;
  min-height: 800px;
  text-align: center;
}

h3 {
  color: #aaa;
}

a, 
a visited, 
a active {
  color: LightSkyBlue;
}

a hover {
  color: MediumVioletRed;
}

.header{
  position: relative;
  /*width: 960px;*/
  /*left: 50%;*/
  /*margin-left: -480px;*/
  text-align: center;
  display: inline-block;
}

.title {
  /*position: absolute;*/
  font-size: 25px;
  color: #F5FBEF;
/*  top: 20px;
  left: 20%;*/
  /*text-align: left;*/
  vertical-align: top;
/*  width: 50%;
  height: 5%;
  padding-top: 3%;
  padding-left: 25%;*/
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}

.yearVals-nav {
  position: relative;
  top: 5px;
  left: 5px;
  /*width: 6%;*/
  /*height: 5%;*/
  /*padding-top: 0%;*/
  /*padding-left: 0%;*/
  color: #F5FBEF;
  font-size: 16px;
}

.content {
  width: 95%;
  position: relative;
  /*left: 50%;*/
  /*margin-left: -480px;*/
  display: inline-block;
}

.swDst {
  position: absolute; 
  z-index: 10;
  top: 10px;
  /*left: 5%;*/
  text-align: left;
  /*vertical-align: top;*/
  width: 75%;
  /*height: 80%;*/
  /*padding-left: 5%;*/
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}

.plot1Desc {
  position: absolute;
  top: 25px;
  left: 75%;
  text-align: justify;
  vertical-align: top;
  width: 25%;
  height: 80%;
  /*padding-left: 0%;*/
  /*margin-left: -480px;*/
  /*padding-top: 5%;*/
  color: #087EF3;
  font-size: 15px;
}

.plot2Desc {
  position: absolute;
  top: 450px;
  left: 75%;
  text-align: left;
  vertical-align: top;
  width: 25%;
  height: 10%;  
  /*padding-left: 0%;*/
  /*margin-left: -480px;*/
  /*padding-top: 0%;*/
  color: crimson;
  font-size: 16px;
}

.dstValPrint {
  position: absolute;
  top: 25px;
  left: 5%;
  text-align: left;
  vertical-align: top;
  /*width: 30%;*/
  /*height: 2%;  */
  color: #F5FBEF;
  font-size: 12px;
}

#loading {
  top: 20%;
  position: fixed;
  left: 500px;
  text-align: center;
  background-color: rgba(30,30,30,0.5);
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#loading img {
  width: 150px;
  height: 150px;
}

.dates {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: left;
  height: 20px;
  display: block;
  font-size: 15px;
}

.times {
  text-align: center;
}

#svgts {
  padding: 20px;
  padding-top: 1px;
}

.brush-fill {
  fill: rgba(100,100,100,0.5);
}

.lineFillGrad {
  fill: url(#temperature-gradient);
  stroke: url(#temperature-gradient);
  stroke-width: 1.5px;
}

.lineFillGradNoChrome {
  fill: green;
  stroke: green;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

g text {
    fill: #ccc;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#svgtm {
    padding-bottom: 20px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: red;
  stroke: steelblue;
}

footer {
  color: #087EF3;   
  position: relative;
  text-align: left;
  top: 530px;
  /*left: 50%;*/
  /*margin-left: -480px;*/
  display: inline-block;
}